:root {
  background-color: #282c34;
}

img {
  user-select: none;
}

p {
  color: antiquewhite;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: antiquewhite;
  margin: auto;
}

.mini-banner {
  height: 10vmin;
  /* margin-top: 5%; */
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.mini-banner:hover {
  transform: scale(1.1);
}

.transparent {
  display: none;
}

.mini-banners {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 80%,
  margin: auto;
}

.mini-banners .triplet {
  margin: 1% 3% 0.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-banners .pair {
  margin-bottom: 2%;
}

.wish-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 3%; /* arbitrary */
  user-select: none;
  margin-right: 5%;
}

#one,
#ten {
  color: pink;
  cursor: pointer;
  margin-right: 10px;
  transition: transform ease-in 0.1s;
  outline: none;
  width: 16%;
}

#one:hover,
#ten:hover {
  transform: scale(1.02);
}

.wish-result {
  transition: transform ease-in 0.1s;
}

.wish-result:hover {
  transform: scale(1.1);
}

.wish-modal .modal-content {
  background-color: rgba(38, 37, 49, 0.5);
}

.drop-down {
  display: flex;
}

.drop-down img {
  cursor: pointer;
  height: 10vmin;
  transition: transform ease-in 0.1s;
}

.drop-down img:hover {
  transform: scale(0.95);
}

.main-banners {
  height: 61vmin;
}

.navbar {
  width: 70%;
  margin: auto;
}

#header,
#footer {
  margin-top: 0.5%;
}

#header-text,
#footer-text {
  color: antiquewhite;
  margin: auto;
}
